


<mat-card class="example-card">
  <img src="data:image/jpeg;base64,{{item.picture}}" width="500" height="600">
  <pre style="margin:4px;"></pre>
  <mat-card-header>
    <div ></div>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{item.description}}
    </p>
    <p>
      Place: {{item.location}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)= "openDialog(item.itemId)">Buy</button>
  </mat-card-actions>
</mat-card>
