<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Team4's secret bonanza</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-tab-group animationDuration="800ms">

  <mat-tab label="Catalogue">
    <app-catalogue></app-catalogue>
  </mat-tab>

  <mat-tab label="Login">
    <app-user-login></app-user-login>
  </mat-tab>

  <mat-tab label="Registration">
    <app-user-registration></app-user-registration>
  </mat-tab>

  <mat-tab label="Overview">
    <app-user-overview></app-user-overview>
  </mat-tab>
</mat-tab-group>