<div class="center" [formGroup]="itemForm">
  <h1>Product Registration</h1>
  <pre style="margin:6px;"></pre>
  <mat-form-field>
    <mat-select matInput placeholder="ProductType" formControlName="productType" required>
      <mat-option value="Product" (click) = 'typeChange(1, 0)' >Product</mat-option>
      <mat-option value="Service" (click) = 'typeChange(0, 0)' >Service</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select matInput placeholder="TransactionType" formControlName="transactionType" required>
      <mat-option value="Sell" (click) = 'typeChange(1, 1)'>Sell</mat-option>
      <mat-option value="Lend" (click) = 'typeChange(0, 1)'>Lend</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Title" [type]="'title'" formControlName="title" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Location" formControlName="location" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select matInput placeholder="Delivery" formControlName="delivery" required>
      <mat-option value="0">False</mat-option>
      <mat-option  [disableControl]="flagCheck(0)" value="1">True</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" formControlName="description" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" formControlName="price" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select matInput placeholder="Price Model"  formControlName="priceModel" required>
      <mat-option value="Fixed">Fixed</mat-option>
      <mat-option  [disableControl]="!flagCheck(1)" value="Hourly">Hourly</mat-option>
      <mat-option  [disableControl]="!flagCheck(1)" value="Daily">Daily</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<pre style="margin:6px;"></pre>
<input type="file" accept="image/*"  name="image" (change)="selectImage($event)"/>
<pre style="margin:6px;"></pre>
<button class="post" mat-flat-button color="primary" [disabled]="!validForm()" (click)="post(); close()">Post</button>
<button class="post" mat-flat-button color="primary"  (click)="post(); close()">Post</button>

<button class="buttonR" mat-flat-button color="primary" (click)="close()">Cancel</button>
<pre style="margin:6px;"></pre>
<h5>Posted Items will undergo Approval for up to 2 Days!</h5>
