<mat-card>
  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <br>
    <button mat-flat-button color="grey">Password reset</button>
    <button mat-flat-button color="primary"  (click)="newUser()"> SignUp</button>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userName }}
  </div>
</mat-card>