
  <mat-tab-group animationDuration="1ms" staticHeight>
    <mat-tab label="Your Products">
      <app-user-products></app-user-products> 
    </mat-tab>
    <mat-tab label="Your Transactions">
      <user-transactions></user-transactions>
    </mat-tab>
    <br>
    <mat-tab label="Account">
      <mat-card>
        <div *ngIf="loggedIn">
          <button mat-flat-button color="warn" (click)="logout()">Logout</button>
          You are currently logged in as {{ userName }}
        </div>
        <br>
        <span>Account Settings</span>
        <br>
        <span>Account Statistics</span>
      </mat-card>
    </mat-tab>
    <mat-tab label="Wallet"></mat-tab>
  </mat-tab-group>
