<mat-card>
  <mat-tab-group animationDuration="1ms" staticHeight>
    <mat-tab label="Your Products">
      <app-user-products></app-user-products> 
    </mat-tab>
    <mat-tab label="Your Advertisements">
      <br>
      <button mat-flat-button color="primary">Post new Advertisement</button>
    </mat-tab>
    <br>
    <mat-tab label="Account">
      <mat-tab-group animationDuration="1ms" staticHeight>
        <mat-tab label="Account Statistics">
          <br>
          <button mat-flat-button color="primary">Test</button>
        </mat-tab>
        <mat-tab label="Account Settings">
          <br>
          <button mat-flat-button color="primary">Confirm Changes</button>
          <br>
          <br>
          <button mat-flat-button color="primary">Delete Account</button>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Wallet"></mat-tab>
  </mat-tab-group>
</mat-card>
