

<img [src]="imagePath"  width="400" >
<hr>
<h1><b>{{item.title}}</b></h1>
<hr>
<p><b>Price: </b>{{item.price}}    
  <button class="cartButton" mat-flat-button color="primary" (click)= "openDialog(item.itemId)">Add to Cart</button>
</p>
<hr>
<p><b>Vendor: </b>{{sellerName}}   <ngb-rating [(rate)]="sellerRating" [readonly]="true" [max]="5">
  </ngb-rating>
</p>
<hr>
<p><b>Type: </b>{{item.transactionType}}</p>
<hr>
<p><b>Location: </b>{{item.location}}</p>
<hr>
<br>
<br>
<br>
<p><b>Description</b></p>
<hr>
<p>{{item.description}}</p>
