
th {
  font-weight:bold;
  align-self: center;
  align-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 1300px;
}

.mat-table {
  overflow: auto;
}

th.mat-header-cell {
  text-align: left !important;
}

.ListButton {
  height:25px;
  width:75px;
  font-size:9px;
  line-height: 0.8;
}

.appButton{
  height:30px;
  width:90px;
  font-size:12px;
  line-height: 0.8;
}

tr.mat-row{
  height: 80px;
}

tr.mat-footer-row{
  height: 80px;
}