
<script>

</script>
<pre style="margin:5px;"></pre>
<div>
  <div class="container">
    <table #itemTable mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> UserId </th>
        <td mat-cell *matCellDef="let item"> {{item.userId}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      
      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> ItemId </th>
        <td mat-cell *matCellDef="let item"> {{item.itemId}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Title </th>
        <td mat-cell *matCellDef="let item"> {{item.title| slice:0:15}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="productType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Type </th>
        <td mat-cell *matCellDef="let item"> {{item.transactionType}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Transaction </th>
        <td mat-cell *matCellDef="let item"> {{item.transactionType}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Location </th>
          <td mat-cell *matCellDef="let item"> {{item.location|slice:0:10}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Status </th>
          <td mat-cell *matCellDef="let item"> {{item.status}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Description </th>
          <td mat-cell *matCellDef="let item"> {{item.description| slice:0:20}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="delivery">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Delivery </th>
          <td mat-cell *matCellDef="let item"> {{item.delivery}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Price </th>
          <td mat-cell *matCellDef="let item"> {{item.price}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="priceModel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Price Model </th>
          <td mat-cell *matCellDef="let item"> {{item.priceModel}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Time </th>
        <td mat-cell *matCellDef="let item"> {{item.createdAt}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Options </th>
        <td mat-cell *matCellDef="let item">
          <div *ngIf="!!(item.approvedFlag==0)">
            <pre style="margin:1px;"></pre>
            <button class = "ListButton" mat-flat-button color="primary" style="background-color: green;" (click)= "openDialog(item.itemId)">Approve</button>
            <pre style="margin:1px;"></pre>
            <button class = "ListButton" mat-flat-button color="primary" style="background-color:#e30b0b" (click)= "deleteDialog(item.itemId)"><span class="material-icons">
              delete
              </span>Delete</button>
            <pre style="margin:1px;"></pre>
          </div>
          <pre style="margin:1px;"></pre>
          <div *ngIf="!(item.approvedFlag==0)">
            <pre style="margin:1px;"></pre>
           <button class = "ListButton" mat-flat-button color="primary" style="background-color:#4C3B4D" (click)= "openDialog(item.itemId)">Disapprove</button>
            <pre style="margin:1px;"></pre>
            <button class = "ListButton" mat-flat-button color="primary" style="background-color:#e30b0b" (click)= "deleteDialog(item.itemId)"><span class="material-icons">
              delete
              </span>Delete</button>
            <pre style="margin:1px;"></pre>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="approveAll">
        <td mat-footer-cell *matFooterCellDef>
          <button class = "appButton" mat-flat-button color="primary" style="background-color: #006600;" (click)= "approveAllDialog()">
            Approve All
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['userId','itemId', 'productType', 'title' ,'transactionType', 'location', 'status', 'description', 'delivery','price', 'priceModel','createdAt' , 'options']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['userId','itemId', 'productType', 'title' ,'transactionType', 'location', 'status', 'description', 'delivery','price', 'priceModel','createdAt' , 'options'];"></tr>
      <tr mat-footer-row *matFooterRowDef="['userId','itemId', 'productType', 'title' ,'transactionType', 'location', 'status', 'description', 'delivery','price', 'priceModel','createdAt' , 'approveAll']"></tr>
    </table>
  </div>
  <br>
</div>
