<div class="searchbar">
  <input class="searchfield" [(ngModel)]="stringInTab" (keyup.enter)="onClickReset()" type="text" placeholder="Search">
  <button (click)="onClickReset()">Search</button>
</div>

<div class="accord">
  <mat-accordion class="example-headers-align" multi="False">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Image Search
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="searchbar">
        <input class="searchfield" [(ngModel)]="imageSearchString" (keyup.enter)="onClickReset()" type="text" placeholder="Image Search">
        <button (click)="onClickReset()">Search</button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Price
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ngx-slider (click)="onClickFilter()" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      <section class="example-section">
        <mat-form-field class="example-margin">
          <mat-label>Min price</mat-label>
          <input matInput type="number" [(ngModel)]="value" (keyup.enter)="onClickFilter()" (clickOutside)="onClickFilter()" [attachOutsideOnClick]="attachOutsideOnClick">
        </mat-form-field>
        <mat-form-field class="example-margin">
          <mat-label>Max price</mat-label>
          <input matInput type="number" [(ngModel)]="highValue" (keyup.enter)="onClickFilter()" (clickOutside)="onClickFilter()" [attachOutsideOnClick]="attachOutsideOnClick">
        </mat-form-field>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Location
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="location" (keyup.enter)="onClickFilter()" (clickOutside)="onClickFilter()" [attachOutsideOnClick]="attachOutsideOnClick">

      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Delivery
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox class="example-margin" [(ngModel)]="delivery" (click)="onClickFilter()">Postal service</mat-checkbox>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Type
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox class="example-margin" [(ngModel)]="sell" (click)="onClickFilter()">sell</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="lend" (click)="onClickFilter()">lend</mat-checkbox>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<p>results: {{results}}</p>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  Sort by: {{sortBy}} <mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onClickSortLowest()">
    <span>Price: Low to High</span>
  </button>
  <button mat-menu-item (click)="onClickSortHighest()">
    <span>Price: High to Low </span>
  </button>
  <button mat-menu-item (click)="onClickSortMostRecent()">
    <span>Most recent products</span>
  </button>
</mat-menu>

<app-item-card *ngFor="let itemCard of itemListFiltered" [item]="itemCard">
</app-item-card>




