<p>reset password</p>
<mat-card [formGroup]="userForm">
  <mat-form-field>
    <input matInput placeholder="Password" [type]=" hide ? 'password' : 'text'" formControlName="password" required>
    <mat-icon matSuffix (click)="hide = !hide">
      {{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
    <mat-error *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched"></mat-error>
    <mat-error *ngIf="userForm.get('password').hasError('pattern') && userForm.get('password').touched">Requires 7
      characters a-z, A-Z, @#°§¦...</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Confirm Password" [type]="'password'" formControlName="confirmPassword" required>
    <mat-error *ngIf="userForm.get('confirmPassword').hasError('required') && userForm.get('confirmPassword').touched">
      Please confirm password</mat-error>
  </mat-form-field>


  <button mat-flat-button color="primary" [disabled]="!validForm()" (click)="reset()">Register</button>



</mat-card>

<a class="button" routerLink="/main">Main-page</a>

<small> {{response}}</small>

