<mat-toolbar color="primary">
    <mat-toolbar-row class="top team4-container">
      <button mat-button routerLink="">Team4's secret bonanza</button>
      <div class="container text-right" *ngIf="!!(loggedIn())">
        <span>Wallet Fr. </span>
        <span>Hello, {{userName}}</span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-display">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="account">Account</button>
          <button mat-menu-item routerLink="your-product">Your Products</button>
          <button mat-menu-item routerLink="your-transaction">Your Transactions</button>
          <button mat-menu-item color="warn" (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>