<mat-toolbar color="primary">
    <mat-toolbar-row class="top team4-container">

      <button mat-button class="homeButton" [routerLink]="['/main']">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img class="img-responsive" src="assets/t4Icon.png">
          </a>
        </div>
        Team4's secret bonanza</button>

      <div class="container text-right" *ngIf="!!(loggedIn())">
        <button *ngIf="existingOrder()" mat-flat-button color="primary" (click) = "openDialog()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <span class="text-size">{{getCurrWallet() | currency: 'BC'}} </span>
        <span class="text-size">Hello, {{userName}}</span>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-display">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="!!(isAdmin())">
            <button mat-menu-item [routerLink]="['/main/admin-overview']">Admin Overlay</button>
          </div>
          <button mat-menu-item [routerLink]="['/main/account']">Account</button>
          <button mat-menu-item [routerLink]="['/main/your-product']">Your Products</button>
          <button mat-menu-item [routerLink]="['/main/your-transaction']">Your Transactions</button>
          <button mat-menu-item color="warn" (click)="logout()">Logout</button>
        </mat-menu>
      </div>

      <div class="container text-right" *ngIf="!!!(loggedIn())">
        <button mat-button class="loginBtn" [routerLink]="['/login']">Login</button>
        <button mat-button class="loginBtn" [routerLink]="['/register']">Register</button>
      </div>

    </mat-toolbar-row>
</mat-toolbar>