<mat-toolbar class = "header-bar" color="primary" >
    <mat-toolbar-row class="top team4-container">

      <button mat-button class="homeButton" [routerLink]="['/main/available-products']">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img class="img-responsive" src="assets/t4Icon.png">
          </a>
        </div>
        Team4's secret bonanza</button>

      <div class="container text-right" *ngIf="!!(loggedIn())">
        <button *ngIf="existingOrder()" mat-flat-button color="primary" (click) = "openDialog()">
          <span class="text-size-cart">{{getCurrOrderSize()}}</span>
          <mat-icon class="cart">shopping_cart</mat-icon>
        </button>
        <span class="text-size" style="padding-left: 5px; padding-right: 5px;">{{getCurrWallet() | currency: 'BTC'}} </span>
        <span class="text-size" style="padding-left: 5px;">  {{userName}}</span>

        
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon *ngIf="NoCustomIcon; else elseBlock"  class="icon-display">account_circle</mat-icon>
          <ng-template #elseBlock><img  src="data:image/jpeg;base64,{{picture}}" width="40" height="50">  </ng-template> 
        </button>
        <mat-menu #menu="matMenu">
          <div *ngIf="!!(isAdmin())">
            <button mat-menu-item [routerLink]="['/main/admin-overview']">Admin Overlay</button>
          </div>
          <button mat-menu-item [routerLink]="['/main/account']">Account</button>
          <button mat-menu-item [routerLink]="['/main/your-product']">Your Products</button>
          <button mat-menu-item [routerLink]="['/main/your-transaction']">Your Transactions</button>
          <!-- <div class="dark-mode-container">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <span style="padding-top: 2px;">Darkmode</span>
          </div> -->
          <!-- <section class="example-section">
            <mat-slide-toggle [(ngModel)]="isDark"
                class="example-margin"
                [color]="color"
                [checked]="checked"
                [disabled]="disabled">
              Dark Mode
            </mat-slide-toggle>
          </section> -->
          <button mat-menu-item (click)="toggleDark()">Toggle Dark Mode</button>
          <button mat-menu-item color="warn" 
            style="color: #e30b0b;font-size: 16px; font-weight: 500;" 
            (click)="logout()">Logout</button>
        </mat-menu>
        
      </div>

      <div class="container text-right" *ngIf="!!!(loggedIn())">
        <button mat-raised-button class="loginBtn" [routerLink]="['/login']">Login</button>
        <button mat-raised-button class="registerBtn" [routerLink]="['/register']">Register</button>
      </div>

    </mat-toolbar-row>
</mat-toolbar>