/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
  --text-color: #222;
  --bkg-color: #fff;
  --bkg-sidebar: rgba(64, 82, 243, 0.2);
  --bkg-primary: #3f51b5;
}

body.dark{
  --text-color: #eeeeee;
  --bkg-color: #121212;
  --bkg-sidebar: #333333;
  --bkg-primary: #333333;
}

html, body { 
  height: 100%;
  margin: 0;
  background: var(--bkg-color);
}

.mat-toolbar{
  background: var(--bkg-primary);
}

.mat-toolbar.mat-primary{
  background: var(--bkg-primary);
}

.mat-tab-label, .mat-tab-link{
  color: var(--text-color);
}

.sidebar{
  background: var(--bkg-sidebar);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.mat-card {
  margin: 20;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

button.buttonR {
  float: right;
  right: 20;
}

/* .catalogue-content-container > ng-star-inserted {
  width: 100%;
} */

