/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { 
  height: 100%;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.mat-card {
  margin: 20;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

button.buttonR {
  float: right;
  right: 20;
}

/* .catalogue-content-container > ng-star-inserted {
  width: 100%;
} */