 
<div class = "catalogue-container">
  <div class = "sidebar">
    <div class = catalogue-items>

      <a [routerLink]="['available-products']" routerLinkActive="selected" class="catalogue-item">
      <i class="material-icons">keyboard_arrow_right</i>
      Available Products
      </a>

       <a [routerLink]="['available-services']" routerLinkActive= "selected" class="catalogue-item">
      <i class="material-icons">keyboard_arrow_right</i>
      Available Services
      </a>


      
   </div>

   <app-scroll-to-top></app-scroll-to-top>

 </div>
 <div class="catalogue-content-container">
  <router-outlet></router-outlet>
</div>
</div>