.catalogue-container {
    display: flex;
    height: 100%;
    background: white;
}

.catalogue-content-container {
    padding: 100px;
    padding-top: 50px;
    width: 89%;
    display: flex;
    justify-content: center;
}

.sidebar {
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    width: 210px;
    background: rgba(64, 82, 243, 0.2);
}

.catalogue-items {
    padding-top: 100px;
}

.catalogue-item {
    display: flex;
    align-items: center;
    position: relative;   
    font-size: 18px;
    color: blue;
    padding: 10px 10px;
    cursor: pointer;
}

.catalogue-item:hover {
    color: rgb(179, 23, 23);
}

.catalogue-item.selected {
    color: white;
}

.catalogue-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color:red;

    /* set opacity to 0 by default */
    opacity: 0;

    transform: scaleY(0);

    transition: transform 0.2s, opacity 0.2s;
}

.catalogue-item:hover::before {
    opacity: 0.35;
    transform: scaleY(0.5) scaleX(2);
}

.catalogue-item.selected::before {
    opacity: 1;
    transform: scaleY(1);
}

.catalogue-item i.material-icons {
    margin-right: 12px;
    font-size: 24px;
}
a {
    text-decoration: none;
  }