
<script>

</script>
<pre style="margin:5px;"></pre>
<div>
  <div class="container">
    <table #userTable mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> UserId </th>
        <td mat-cell *matCellDef="let user"> {{user.userId}} </td>
      </ng-container>


      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Time Created </th>
        <td mat-cell *matCellDef="let user"> {{user.createdAt}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-container"> Options </th>
        <td mat-cell *matCellDef="let user"> <button mat-flat-button color="primary" (click)= "openDialog(user.userId)">Delete</button>  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['userId', 'userName','createdAt', 'options']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['userId', 'userName','createdAt', 'options'];"></tr>
    </table>
  </div>
  <br>
</div>
