.searchbar{
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  /* justify-content: center; */
}

.searchbarI {
    width: 500px;
    display: flex;
    margin-right: auto;
}

.searchfield{
    width: 500px;
}

.result{
    float: right;
}

.view  {
    width: 100%;
}
